# Ignore all build directories recursively
**/build/

# Ignore Node.js modules
/front/node_modules

# Ignore binary executables
/bin

/.vscode

# Ignore generated libraries and output directories
/lib/
/output/
3rdParty/json/lib/
*.so
